name: CD - Deploy to Production

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: none
          tools: composer

      - name: Install Composer dependencies
        run: composer install --no-dev --optimize-autoloader

      - name: Install & Build assets
        run: |
          npm install
          npm run build

      - name: Create production ZIP
        run: |
          zip -r production.zip . -x "*.git*" "node_modules/*" "tests/*"

      - name: Deploy to Hostinger VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "production.zip"
          target: "/home/${{ secrets.SSH_USERNAME }}/domains/itsmentormatch.com/public_html/"
          strip_components: 0
          overwrite: true

      # ini penting biar selalu replace

      - name: Execute commands on VPS
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/${{ secrets.SSH_USERNAME }}/domains/http://72.61.141.156//public_html
            unzip -o production.zip
            rm production.zip
            php artisan migrate --force
            php artisan cache:clear
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
